<?xml version="1.0" encoding="iso-8859-1"?>
<html>
  <head>

    <title>
		Logon Screen:
	
	</title>
  </head>
  <body>
	<form method="post">
		<table>
			<tr>
				<td>User Name: </td> 
				<td><input type="text" name="user_name" id="u_name" value="{{uName}}"/></td>
			</tr>
			<tr>
				<td>Password: </td> 
				<td><input type="password" name="user_pass" id="u_pass" value="{{uPass}}"/></td>
			</tr>
			<tr>
				<td>Verify Password: </td> 
				<td><input type="password" name="verify" id="pass_ver" value="{{verify}}"/></td>
			</tr>
			<tr>
				<td>Password: </td> 
				<td><input type="text" name="user_email" id="u_email" value="{{email}}"/></td>
			</tr>
		
		</table>
	</form>
  
  </body>
</html>
