<!DOCTYPE html>
<html>
<head>
    <style>
      body {
        margin: 0px;
        padding: 0px;
      }
      #myCanvas {
        border: 1px solid #9C9898;
      }
	  
	  button {
	   position: absolute;
		top: 450px;
		left: 0px;
		z-index: 1;
	  }
	  #num2 {
	   position: absolute;
		top: 400px;
		left: 0px;
		z-index: 1;
	  }
    </style>
    <script type="text/javascript">
	var xwid = 50;
	var ywid = 50;

	
	window.requestAnimFrame = (function(callback) {
		return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame ||
		function(callback) {
		window.setTimeout(callback, 1000 / 60);
		};
	})();
		

	function drawCar(ctx, car, theta){
		ctx.setTransform(1,0,0,1,car.x+car.width/2+50,car.y+50);
		theta = car.theta
		ctx.rotate(theta);
		ctx.fillRect(-car.width/2,-car.height/2,car.width,car.height);

	};
	function pausecomp(ms) {
	ms += new Date().getTime();
	while (new Date() < ms){}
};
	function animate(myRectangle, canvas, context, startTime, i, myJson) {
	// update
		var time = (new Date()).getTime() - startTime;

		ender = myJson.length-2;
		i++;

		if (i == ender)
		{
			alert("done");
		}
		else
		{

			myRectangle.x = myJson[i.toString()]["x"]*50;
			myRectangle.y = myJson[i.toString()]["y"]*50;
			myRectangle.theta = myJson[i.toString()]["theta"];
			

			// clear
			context.setTransform(1,0,0,1,0,0);
			context.clearRect(0, 0, canvas.width, canvas.height);

			drawCar(context, myRectangle, 0);

			// request new frame
			requestAnimFrame(function() {
			  animate(myRectangle, canvas, context, startTime, i, myJson);
			 
			});
		};
	};


	function fThis(grid, myJson){
		var canvas = document.getElementById('myCanvas');
		var context = canvas.getContext('2d');
		


		var myRectangle = {
		  x: 0,
		  y: 0,
		  width: 25,
		  height: 12,
		  theta: 0,
		  borderWidth: 5
		};

		drawCar(context, myRectangle,0);

		// wait one second before starting animation
		setTimeout(function() {
		  var startTime = (new Date()).getTime();
		  animate(myRectangle, canvas, context, startTime, 0, myJson);
		}, 1000);
	};

    </script>
  </head>
<body>
    <canvas style="position: absolute;" id="myCanvas" width="550" height="350"></canvas>
	<canvas style="position: absolute;" id="e" width="550" height="350"></canvas>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript">
	function dothis(){

		var tic = { };
		tic = grid;
		str = JSON.stringify(tic);

			
		$.post("http://thinklargetest.appspot.com/test", { name: str, time: "2pm" },
		function(data) {
			myJson = data
		});
		
	};	


    </script>	
<script>
  var canvas = document.getElementById("e");
  var context = canvas.getContext("2d");
  var myJson = {};
  var  grid = [[0, 1, 0, 0, 0, 0], [0, 1, 0, 1, 1, 0], [0, 0, 0, 1, 0, 0], [1, 1, 1, 1, 0, 0], [0, 0, 0, 0, 0, 0], [0, 1, 1, 1, 1, 0], [0, 1, 0, 0, 0, 1], [0, 1, 0, 1, 0, 1], [0, 0, 0, 1, 0, 1], [0, 1, 0, 1, 0, 0]]
  window.onload = function() {
	
	drawGrid(grid, context)
  };
  	function start(){
		fThis(grid, jQuery.parseJSON( myJson ));
	};

  canvas.addEventListener("click", onCanvasClick, false);
  
  	function drawGrid(grid, ctx)
	{

		var xi, yi, x_end, y_end;
		xi = 0;
		yi = 0;
		x_end = 0;
		y_end = 0;
		ctx.save();
		// Use the identity matrix while clearing the canvas
		ctx.setTransform(1, 0, 0, 1, 0, 0);
		ctx.clearRect(0, 0, canvas.width, canvas.height);
		ctx.restore();

		ctx.fillRect(0,0,550,350);
		ctx.clearRect(25,25,500,300);
		x_end = grid.length
		y_end = grid[0].length
		for (xi = 0; xi < x_end; xi++){
			for (yi = 0; yi < y_end; yi++){
				if (grid[xi][yi] == 1)
				{
					drawCircle(ctx, (xi+1)*50, (1+yi)*50)
					
				}

		
			}
			
		}
	}
	
	function drawCircle(ctx,x,y)
	{
		var color;
		color = 'black';
		ctx.setTransform(1,0,0,1,0,0);
		ctx.fillStyle=color;
		ctx.beginPath();
		ctx.arc(x,y,25, Math.PI*2,0,true);
		ctx.closePath();

		ctx.fill();
		
	}
  
  function onCanvasClick(e) {
  	getCursorPosition(e);
  }
  
  
  
  function getCursorPosition(e) {
  	var x;
    var y;
	
    if (e.pageX != undefined && e.pageY != undefined) {
	x = Math.floor((e.pageX-27)/50);
	y = Math.floor((e.pageY-27)/50);
	var vis;
	vis = grid[x][y];
	grid[x][y] = (vis+1)%2;
    }
    else {
	x = e.clientX + document.body.scrollLeft +
            document.documentElement.scrollLeft;
	y = e.clientY + document.body.scrollTop +
            document.documentElement.scrollTop;
    }
    x -= canvas.offsetLeft;
    y -= canvas.offsetTop;
    
	drawGrid(grid, context);
	
    return [x,y];
  }

</script>
	<p id="flooper">
	</p>
	<button id="num2" onclick="dothis()">Click Me First</button>
	<button  onclick="start()">Then Run it!</button>
	</body>
</html>